@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    border: 0;
    margin: 0;
    padding: 0;
}

main {
    margin-inline: 4%;
}

.title {
    text-align: center;
    margin-block: 10%;
}

.sub-title,
figure {
    margin-block: 7%;
}

.img-header {
    width: 90%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #000000;
}

.logo {
    width: 20%;
}

.navigation-links {
    font-size: 90%;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 3%
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.container-elem-nav {
    text-align: center;
}

.inline-ele,
ul,
nav-ul {
    list-style-type: none;
    text-decoration: none;
}

.text {
    padding: 0%;
    margin-inline: 5%;
    margin-block: 10%;
    text-align: justify;
}


.pub {
    border: 1px solid #000000;
    padding: 24px;
    margin-inline: 5%;
    margin-block: 5%;
    text-align: center;

}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

footer {
    background-color: #ecf2ef;
    margin-top: 15%;
}

.footer-ul {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

span {
    margin-left: 2%;
}

.end-page {
    display: flex;
    justify-content: end;
    margin-right: 2%;
}



/* Tablettes (768px à 1023px) */

@media (min-width: 768px) {

    .title {
        font-size: 5vh;
        margin-block: 5%;
    }

    .sub-title{
        margin-inline: 2%;
    }
    .navigation-links {
        font-size: 2vh;
        width: 40%;

    }

    .logo {
        width: 15%;
    }

    .img-header {
        width: 35%;
        float: left;
        margin-block: 0%;
        margin-right: 3%;
        margin-left:0 ;
    }


    .text {
        padding: 0;
        margin-block: 3%;
    }

    .footer-ul {
        width: 65%;
    }

    .pub {
        margin-block: 5%;

    }

}

/* Desktops (>1024px) */

@media (min-width: 1024px) {

    body {
        font-size: 2vw;
    }

    .title {
        font-size: 8vh;
        margin-block: 7%;
    }

    .sub-title {
        margin-top: 3%;
    }

    .img-header {
        width: 20%;
        float: left;
        margin-block: 0%;
        margin-right: 2%;
        margin-left:0 ;
    }

    /* Navigation */

    .logo {
        width: 10%;
    }

    .navigation-links {
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        text-decoration: none;
        margin-block: 0;
        margin-right: 0;
        font-size: 2vh;
        width: 50%;
    }

    /* texts */

    .text {
        padding: 1%;
        margin: 0;
    }

    .pub {
        padding: 5%;
        margin-block: 5%;
    }

    /* pied de page */

    footer {
        margin-top: 10%;
        height: 15%;
        font-size: 80%;
    }

    .footer-ul {
        display: flex;
        gap: 5%;
    }



}


