.img-grenade {
    width: 90%;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


h2 {
    margin-block: 5%;
}


@media (min-width: 768px) {

    .img-grenade {
        width: 40%;
        border-radius: 50px;

    }


    h2 {
        margin-block: 5%;
    }


    .txt-right {
        display: flex;
        gap: 5%;
    }
}

@media (min-width: 1024px) {
    .img-grenade {
        width: 90%;
        border-radius: 50px;

    }


    h2 {
        margin-block: 5%;
    }


    .txt-right {
        display: flex;
        gap: 5%;
    }


}